<div class="content-body">
	<div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="card-header d-sm-flex d-block pb-0 border-0">
            <div>
                <h4 class="fs-20 text-black">My profit</h4>
                <p class="mb-0 fs-12">This is the amount of money you can withdraw</p>
            </div>
        </div>
        <div class="card-body">
          <h2 style="font-size: 45px; font-weight: bold; color:black;" class="text-center">$100,000</h2>
        </div>
      </div>
    </div>
      <div class="col-12">
        <div class="card">
          <div class="card-header d-sm-flex d-block pb-0 border-0">
            <div>
              <h4 class="fs-20 text-black">Withdraw</h4>
              <p class="mb-0 fs-12">Withdraw your earnings!</p>
            </div>
          </div>
          <div class="card-body">
              <div class="basic-form">
                  <form class="form-wrapper">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                          <div class="input-group input-group-lg">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Amount</span>
                              </div>
                              <input type="number" class="form-control" placeholder="$0,00">
                          </div>
                        </div>
                      </div>
                      </div>
                      <div class="row mt-4">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                              <button type="submit" class="btn btn-primary btn-block">
                                  Withdraw
                              </button>
                          </div>
                      </div>
                      <div class="d-flex mt-3">
                          <div class="custom-control custom-checkbox mr-3 mt-1">
                              <input type="checkbox" class="custom-control-input" id="checkbox" required>
                              <label class="custom-control-label" for="checkbox"></label>
                          </div>
                          <p class="mb-0">I understand that I won't be able to withdraw again without trading for another 15 days</p>
                      </div>
                  </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
