<div class="row">
  <div class="col-sm-6 mb-sm-0 mb-3">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Change account</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <!-- TODO buscar como detectar el cambio, usar la función del componente y cambiar lo de la sesión -->
        <button *ngFor="let account of accounts" ngbDropdownItem (click)="changeCurrentAccount( account.mt_user_id )">{{ account.mt_user_id }}</button>
      </div>
    </div>
  </div>
