
<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
          <div class="col-xl-12">
            <app-dashboard-carousel [data]="carouselData"></app-dashboard-carousel>
          </div>

          <!-- {{ cuentas[0] | json }} -->

            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
              <div class="card">
                <div class="card-body d-flex align-items-center mx-auto">
                        <div>
                          <h3 class="text-black">Winrate</h3>
                            <p class="mb-2 fs-13">
                            <h2 *ngIf="cuentas[this.current]" class="text-black mb-0 font-w600">{{ cuentas[this.current].win_rate }}%</h2>
                        </div>
                  <app-winrate-doughnut></app-winrate-doughnut>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
              <div class="card">
                <div class="card-body d-flex align-items-center mx-auto">
                        <div>
                          <h3 class="text-black">Average return</h3>
                            <p class="mb-2 fs-13">per trade</p>
                            <h2 class="text-black mb-0 font-w600">${{ cuentas[this.current].avg_return_trade }}</h2>
                        </div>
                  <!-- <app-chartjs-doughnut></app-chartjs-doughnut> -->
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
              <div class="card">
                <div class="card-body d-flex align-items-center mx-auto">
                        <div>
                          <h3 class="text-black">Total trades</h3>
                            <p class="mb-2 fs-13">Lifetime</p>
                              <h2 class="text-black mb-0 font-w600">{{ cuentas[this.current].total_trades }} trades</h2>
                        </div>
                  <!-- <app-chartjs-doughnut></app-chartjs-doughnut> -->
                </div>
              </div>
            </div>

            <!-- TODO hacer que salga cuando se cumplan las condiciones de que salga :D -->
            <div *ngIf="false" class="col-12">
              <div class="card text-white bg-success-light">
                  <div class="card-header">
                      <h5 class="card-title text-white">Congratulations! 🥳</h5>
                  </div>
                  <div class="card-body mb-0">
                      <p class="card-text">You have completed the phase 1!</p>
                  </div>
              </div>
          </div>


            <div class="col-xl-12 col-xxl-12">
                <app-balance-area *ngIf="cuentas[this.current]" [current]="cuentas[this.current]"></app-balance-area>
            </div>

            <div class="col-xl-12">
              <div class="card">
                  <div class="card-header pb-0">
                      <div class="mt-3 mt-sm-0">


                          <ul class="nav nav-tabs" role="tablist" ngbNav #nav="ngbNav" >
                              <li class="nav-item" ngbNavItem="navpills-1">
                                  <a class="nav-link" data-toggle="tab" href="#navpills-1" role="tab" aria-selected="false" ngbNavLink>
                                      MY TRADES
                                  </a>
                                  <ng-template ngbNavContent>
                                    <app-dashboard-table [trades]="trades"></app-dashboard-table>
                                </ng-template>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="card-body ">
                      <div [ngbNavOutlet]="nav" class=""></div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->
